body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  text-decoration: none;
  text-decoration-color: red ;

  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a.active_class {
  text-align: center;
  text-decoration-line: none;
  color: green;
  border-bottom: 1px solid red;
}



